<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="./Application/Admin/View/common/common.html" />
</head>
<body>
<div id="body-wrapper">
    <!-- Wrapper for the radial gradient background -->
    <div id="sidebar">
        <div id="sidebar-wrapper">
            <!-- Sidebar with logo and menu -->
            <h1 id="sidebar-title"><a href="#">通州区农产品安全管理系统</a></h1>
            <!-- Logo (221px wide) -->
            <!-- Sidebar Profile links -->
            <p></p><p></p><p></p><p></p><p></p><div id="profile-links"> Hello,农户 {$username} <br />
            <br />
            <a href="{:U('Admin/Admin/index')}" title="帮助">帮助</a>
            <a href="{:U('Admin/Admin/logout')}" title="退出">退出</a> </div>
            <ul id="main-nav">
                <!-- Accordion Menu -->
                <li> <a href="{:U('Admin/Admin/index')}" class="nav-top-item"> 首页 </a>
                </li>
                <li> <a href="#" class="nav-top-item ">
                    <!-- Add the class "current" to current menu item -->
                    表格管理 </a>
                    <ul>
                        <li><a href="{:U('Admin/stu/showAll')}">查看已录入表格</a></li>
                        <li><a href="{:U('Admin/stu/showAdd')}">录入新表格</a></li>

                    </ul>
                </li>
                </li>
                <li> <a href="#" class="nav-top-item"> 个人中心 </a>
                    <ul>
                        <li><a href="{:U('Admin/User/showPwdUpdate')}">修改密码</a></li>
                        <li><a href="{:U('Admin/User/show')}">个人信息</a></li>
                        <li><a href="{:U('Admin/User/showdelete')}">注销</a></li>
                    </ul>
                </li>
                <!-- End #main-nav -->
                <!-- End #messages -->
            </ul>
        </div>
    </div>
    <!-- End #sidebar -->
    <div id="main-content">

        <!-- Page Head -->
        <div class="content-box">

            <div class="content-box-header">
                <h3>免疫接种记录表</h3>
                <ul class="content-box-tabs">
                    <li><a href="#tab1" class="default-tab">Table</a></li>
                    <!-- href must be unique and match the id of target div -->
                </ul>
                <div class="clear"></div>
            </div>


            <div class="content-box-content">
                <div class="tab-content default-tab" id="tab1">

            <volist name="n_myjzd" id="n_myjz">
                <table>
                    <tr><td>畜别</td><td>{$n_myjz['sort']}</td></tr>
                    <tr><td>日龄</td><td>{$n_myjz['age']}</td></tr>
                    <tr><td>栋别</td><td>{$n_myjz['build']}</td></tr>
                    <tr><td>栏号</td><td>{$n_myjz['fence']}</td></tr>
                    <tr><td>预防疾病</td><td>{$n_myjz['disease']}</td></tr>
                    <tr><td>前次时间：年</td><td>{$n_myjz['lastyear']}</td></tr>
                    <tr><td>：月</td><td>{$n_myjz['lastmonth']}</td></tr>
                    <tr><td>：日</td><td>{$n_myjz['lastday']}</td></tr>
                    <tr><td>本次时间：年</td><td>{$n_myjz['nowyear']}</td></tr>
                    <tr><td>：月</td><td>{$n_myjz['nowmonth']}</td></tr>
                    <tr><td>：日</td><td>{$n_myjz['nowday']}</td></tr>
                    <tr><td>免疫次数</td><td>{$n_myjz['immtime']}</td></tr>
                    <tr><td>选用疫苗</td><td>{$n_myjz['vaccine']}</td></tr>
                    <tr><td>接种剂量</td><td>{$n_myjz['dosage']}</td></tr>
                    <tr><td>接种途径</td><td>{$n_myjz['way']}</td></tr>
                    <tr><td>接种头数</td><td>{$n_myjz['number']}</td></tr>
                    <tr><td>反应情况</td><td>{$n_myjz['reaction']}</td></tr>
                    <tr><td>执行者</td><td>{$n_myjz['man']}</td></tr>
                </table>
            </volist>
                    </div>
                </div>
        </div>

        <!-- End .shortcut-buttons-set -->
        <div class="clear"></div>
        <!-- End .clear -->

        <div id="footer"> <small>
            <!-- Remove this notice or replace it with whatever you want -->
            &#169; Copyright 2010 Your Company | Powered by <a href="http://www.865171.cn">admin templates</a> | <a href="#">Top</a> </small> </div>
        <!-- End #footer -->
    </div>
    <!-- End #main-content -->
</div>
</body>
<!-- Download From www.exet.tk-->
</html>
